<style type="text/css">
.footer{
  background-color: gray;
  width: 100%;
  color: white;
  box-shadow: 12px 2px;
  text-align: right;
}
.brand {
  color: white !important;
  font-size:25px;
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
  font-weight:700;
  letter-spacing:0.1em;
  text-shadow: 1px 1px black;
}
</style>

<hr>
<div class="footer">
  <p align="right">Shop with us again!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p align="right"><i>https://dbms1819-ecommerce-t10.herokuapp.com/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></p>
</div>
