<style type="text/css">
.header{
	background-color: black;
	width: 100%;
	color: white;
	box-shadow: 12px 2px;
}
.brand {
	color: white !important;
	font-size:25px;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
	font-weight:700;
	letter-spacing:0.1em;
	text-shadow: 1px 1px white;
}
</style>

<div class="header">
	<center><h1 class="brand">A&P Clothing</h1> 
		<p style="font-family: Helvetica;"><i>"Your one-stop-shop for clothing apt for your lifestyle."</i></p> 
	</center>
</div>
<hr>