<<<<<<< HEAD
<div class="container-fluid">

    <h3>Add Faculty</h3>

    <form method="POST" action="/add_faculty" class="row">
        <div class="controls col-12">

            <div class="form-group">
                <label class="control-label" for="first_name">First Name *</label>
                <div>
                    <input id="first_name" name="first" type="text" placeholder="First Name" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="last_name">Last Name *</label>
                <div>
                    <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">Email *</label>
                <div>
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="phone_number">Phone Number (Optional)</label>
                <div>
                    <input id="phone_number" name="phone_number" type="text" placeholder="Phone Number" class="form-control">
                </div>
            </div>

            <label class="check">Make Admin?
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <div style="margin-top: 20px;">
                <h4>Login Credentials</h4>
            </div>

            <div class="form-group">
                <label class="control-label" for="password">Password *</label>
                <div>
                    <input id="password" name="password" type="password" placeholder="Password" class="form-control" required="">
                </div>
            </div>

            <div class="form-group submit">
                <div class="text-center">
                    <button type="submit" class="btn submitButton" title="Submit">
                        Submit
                    </button>
                </div>
            </div>
    </form>
    </div>
</div>

<style>
    .container-fluid {
        margin-top: 10px;
    }

    .check {
        display: block;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .submit {
        padding-top: 10px;
        position: relative;
        max-width: 100%;
        text-align: end;
    }

    .submitButton:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }

    .submitButton {
        background: transparent;
        border: 2px solid rgb(61, 79, 93);
        color: rgb(61, 79, 93);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 85%;
        list-style: none;
    }
=======
<div class="container-fluid">

    <h3>Add Faculty</h3>

    <form method="POST" action="/add_faculty" class="row">
        <div class="controls col-12">

            <div class="form-group">
                <label class="control-label" for="first_name">First Name *</label>
                <div>
                    <input id="first_name" name="first" type="text" placeholder="First Name" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="last_name">Last Name *</label>
                <div>
                    <input id="last_name" name="last_name" type="text" placeholder="Last Name" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">Email *</label>
                <div>
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="phone_number">Phone Number (Optional)</label>
                <div>
                    <input id="phone_number" name="phone_number" type="text" placeholder="Phone Number" class="form-control">
                </div>
            </div>

            <label class="check">Make Admin?
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <div style="margin-top: 20px;">
                <h4>Login Credentials</h4>
            </div>

            <div class="form-group">
                <label class="control-label" for="password">Password *</label>
                <div>
                    <input id="password" name="password" type="password" placeholder="Password" class="form-control" required="">
                </div>
            </div>

            <div class="form-group submit">
                <div class="text-center">
                    <button type="submit" class="btn submitButton" title="Submit">
                        Submit
                    </button>
                </div>
            </div>
    </form>
    </div>
</div>

<style>
    .container-fluid {
        margin-top: 10px;
    }

    .check {
        display: block;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .submit {
        padding-top: 10px;
        position: relative;
        max-width: 100%;
        text-align: end;
    }

    .submitButton:hover {
        transition: all 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(76, 102, 119);
    }

    .submitButton {
        background: transparent;
        border: 2px solid rgb(61, 79, 93);
        color: rgb(61, 79, 93);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-size: 85%;
        list-style: none;
    }
>>>>>>> origin/master
</style>