<div class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3>Dashboard</h3>
            </div>
        </div>
    </div>
</div>

<style>
    .container-fluid {
        margin-top: 10px;
    }
</style>