<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">My Classes</h1>
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/faculty/group">Manage Groups</a></button>
</div>
<div>
  <table>
  <thead>
    <tr>
      <th scope="col">Batch</th>
      <th scope="col">Section</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each classes}}
    <tr>
      <td>{{this.batch}}</td>
      <td>{{this.section}}</td>
      <td><a href='/faculty/class/{{this.id}}'>view</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>