<br>
<h1>ADD CLASS</h1>
<form action="/insertclass" method="POST" role="form">
  <fieldset>
    <div class="form-row" style="margin-bottom: 14px;">
      <div class="col">
        <label>Batch</label>
        <input class="form-control" id="batch" name="batch" type="number" placeholder="Batch" required>
      </div>
      <div class="col">
        <label>Section</label>
        <input class="form-control" id="section" name="section" type="number" placeholder="Section" required>
      </div>
    </div>
    <div class="form-row" style="margin-bottom: 14px;">
      <div class="col">
        <label>Adviser</label>
          <select  name="adviser" class="form-control" id="adviser" required>
         {{#each user}}
          <option value ="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
          {{/each}}
          </select>
      </div>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-dark col-md-6 back" href="/admin/class">BACK</a>
    <input class="btn btn-dark col-md-6" type="submit" value="ADD CLASS"></input>
  </div>
  </fieldset>
</form> 